﻿<div class="modal fade" id="@ViewBag.ID" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog @ViewBag.Size" role="document">
        <div class="modal-content">
            @RenderBody()
        </div>
    </div>
</div>