﻿<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="@Url.Action("Index","Books")"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Data</li><!-- /.menu-data -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Data Master</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="@Url.Action("Index","Books")">Books</a></li>
                        <li><i class="fa fa-table"></i><a href="ui-badges.html">Member</a></li>
                        <li><i class="fa fa-table"></i><a href="ui-tabs.html">Employees</a></li>
                    </ul>
                </li>

                <li class="menu-title">Icons</li><!-- /.menu-transaction -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Transaction</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-bar-chart"></i><a href="tables-basic.html">Loan Transaction</a></li>
                        <li><i class="fa fa-bar-chart"></i><a href="tables-data.html">Return Transaction</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->