﻿
@{
    ViewBag.ID = "DeleteBooks";
    ViewBag.Size = "modal-sm";
    Layout = "~/Views/Shared/_Modals.cshtml";
}

<div class="modal-header">
    <div class="form-inline">
        <h5 class="modal-title" id="mediumModalLabel">Edit Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <input type="hidden" id="hdnIdDelete" />
    <p>
        Are you sure to delete this data?
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" onclick="DeleteBooks();" data-dismiss="modal">Delete</button>
</div>