﻿
@{
    ViewBag.ID = "EditBooks";
    Layout = "~/Views/Shared/_Modals.cshtml";
}

    <div class="modal-header">
        <div class="form-inline">
            <h5 class="modal-title" id="mediumModalLabel">Edit Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <form action="#" method="post" novalidate="novalidate">
            <div class="form-group">
                <label class="control-label mb-1">Books Name</label>
                <input id="bookname-edit" type="text" class="form-control">
                <input type="hidden" id="hdnId" />
            </div>
            <div class="form-group">
                <label class="control-label mb-1">Author</label>
                <input id="author-edit" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label mb-1">Publisher</label>
                <input id="publisher-edit" type="text" class="form-control">
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label mb-1">Publication Year</label>
                        <input id="year-edit" type="datetime" data-date-format="MM/DD/YYYY" class="form-control date">
                    </div>
                </div>
                <div class="col-6">
                    <label class="control-label mb-1">Rak Number</label>
                    <div class="input-group">
                        <input id="rak-edit" type="number" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" onclick="UpdateBooks();" data-dismiss="modal">Update</button>
</div>

