﻿<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Data Master</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Data Master</a></li>
                            <li><a href="#">Books</a></li>
                            <li class="active">Data Books</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <!-- Animated -->
    <div class="animated">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Books</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <button id="btn-add-books" data-toggle="modal" data-target="#CreateBooks" class="btn btn-success btn-sm text-center" style="margin-bottom:5px; width:70px;"><i class="fa fa-plus">&nbsp; Add</i></button>
                        </div>
                        <table id="tbl-books" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Books Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>Publication Year</th>
                                    <th>Rak Number</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                        <td>1</td>
                                        <td>C# Programming</td>
                                        <td>Fibradiarta</td>
                                        <td>Gramedia</td>
                                        <td>2019</td>
                                        <td>2</td>
                                        <td>
                                            <div class="text-center list-inline">
                                                <button class="btn btn-warning btn-sm" id="btn-edit-books" data-toggle="modal" data-target="#EditBooks"><i class="fa fa-edit inline-block" style="color:white"></i></button>
                                                <button class="btn btn-danger btn-sm" id="btn-delete-books" data-toggle="modal" data-target="#DeleteBooks"><i class="fa fa-trash inline-block"></i></button>
                                            </div>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
@Html.Partial("_CreateBooks")
@Html.Partial("_EditBooks")
@Html.Partial("_DeleteBooks")





